<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <% date = Time.new %>
    <p><%= "The date is #{date.day}, #{date.month} #{date.day}, #{date.year}" %></p>
  </body>
</html>